## 3.2.4 Activity Second Try

In [1]:
# Import packages
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_excel('movies_merge.xlsx')
ott = pd.read_csv('ott_merge.csv')

In [3]:
mov_ott = pd.merge(movies, ott, how='left', on='ID')

In [4]:
# Files now imported and merged

### Subset data to just ID, Runtime and Genre

In [5]:
mov_ott_subset = mov_ott[['ID', 'Runtime', 'Genres']]

In [6]:
mov_ott_subset.head()

   ID  Runtime                            Genres
0   1    148.0  Action,Adventure,Sci-Fi,Thriller
1   2    136.0                     Action,Sci-Fi
2   3    149.0           Action,Adventure,Sci-Fi
3   4    116.0           Adventure,Comedy,Sci-Fi
4   5    161.0                           Western

In [7]:
# Add 1 minute onto runtime

In [8]:
mov_ott_subset['Runtime'].add(1)

0        149.0
1        137.0
2        150.0
3        117.0
4        162.0
         ...
16739    121.0
16740     91.0
16741      NaN
16742      NaN
16743     33.0
Name: Runtime, Length: 16744, dtype: float64

In [9]:
# Create a new column in the DF to indicate Documentary Genre status

In [10]:
mov_ott_subset = pd.DataFrame(mov_ott_subset, columns=['ID', 'Runtime', 'Genres', 'Gen_doc'])

In [11]:
mov_ott_subset

          ID  Runtime                            Genres  Gen_doc
0          1    148.0  Action,Adventure,Sci-Fi,Thriller      NaN
1          2    136.0                     Action,Sci-Fi      NaN
2          3    149.0           Action,Adventure,Sci-Fi      NaN
3          4    116.0           Adventure,Comedy,Sci-Fi      NaN
4          5    161.0                           Western      NaN
...      ...      ...                               ...      ...
16739  16740    120.0      Comedy,Family,Fantasy,Horror      NaN
16740  16741     90.0              Comedy,Family,Sci-Fi      NaN
16741  16742      NaN                       Documentary      NaN
16742  16743      NaN                       Documentary      NaN
16743  16744     32.0          Documentary,Short,Family      NaN

[16744 rows x 4 columns]

In [13]:
# Identify Documentaries and Non-documentaries
# Recored these in the Gen_doc column

In [14]:
mov_ott_subset.head()

   ID  Runtime                            Genres  Gen_doc
0   1    148.0  Action,Adventure,Sci-Fi,Thriller      NaN
1   2    136.0                     Action,Sci-Fi      NaN
2   3    149.0           Action,Adventure,Sci-Fi      NaN
3   4    116.0           Adventure,Comedy,Sci-Fi      NaN
4   5    161.0                           Western      NaN

In [15]:
mov_ott_subset['Gen_doc'] = np.where(mov_ott_subset['Genres'].str.contains('Documentary'), 'Documentary', 'Not Documentary')

In [16]:
mov_ott_subset.head()

   ID  Runtime                            Genres          Gen_doc
0   1    148.0  Action,Adventure,Sci-Fi,Thriller  Not Documentary
1   2    136.0                     Action,Sci-Fi  Not Documentary
2   3    149.0           Action,Adventure,Sci-Fi  Not Documentary
3   4    116.0           Adventure,Comedy,Sci-Fi  Not Documentary
4   5    161.0                           Western  Not Documentary

In [17]:
# Determine the length of strings in the Gen_doc column

In [18]:
mov_ott_subset['Gen_doc'].apply(len)

0        15
1        15
2        15
3        15
4        15
         ..
16739    15
16740    15
16741    11
16742    11
16743    11
Name: Gen_doc, Length: 16744, dtype: int64

In [19]:
mov_ott_subset['Runtime'].add(1)

0        149.0
1        137.0
2        150.0
3        117.0
4        162.0
         ...
16739    121.0
16740     91.0
16741      NaN
16742      NaN
16743     33.0
Name: Runtime, Length: 16744, dtype: float64

In [20]:
# Subtract 6 seconds (= 0.01)

In [21]:
mov_ott_subset['Runtime'].subtract(0.01)

0        147.99
1        135.99
2        148.99
3        115.99
4        160.99
          ...
16739    119.99
16740     89.99
16741       NaN
16742       NaN
16743     31.99
Name: Runtime, Length: 16744, dtype: float64

In [23]:
# Practise using the lambda function to add and subtract

In [24]:
mov_ott_subset['Runtime'] = mov_ott_subset['Runtime'].apply(lambda x: x+1)

In [25]:
mov_ott_subset.head()

   ID  Runtime                            Genres          Gen_doc
0   1    149.0  Action,Adventure,Sci-Fi,Thriller  Not Documentary
1   2    137.0                     Action,Sci-Fi  Not Documentary
2   3    150.0           Action,Adventure,Sci-Fi  Not Documentary
3   4    117.0           Adventure,Comedy,Sci-Fi  Not Documentary
4   5    162.0                           Western  Not Documentary

In [26]:
mov_ott_subset['Runtime'] = mov_ott_subset['Runtime'].apply(lambda x: x-1)

In [27]:
mov_ott_subset

          ID  Runtime                            Genres          Gen_doc
0          1    148.0  Action,Adventure,Sci-Fi,Thriller  Not Documentary
1          2    136.0                     Action,Sci-Fi  Not Documentary
2          3    149.0           Action,Adventure,Sci-Fi  Not Documentary
3          4    116.0           Adventure,Comedy,Sci-Fi  Not Documentary
4          5    161.0                           Western  Not Documentary
...      ...      ...                               ...              ...
16739  16740    120.0      Comedy,Family,Fantasy,Horror  Not Documentary
16740  16741     90.0              Comedy,Family,Sci-Fi  Not Documentary
16741  16742      NaN                       Documentary      Documentary
16742  16743      NaN                       Documentary      Documentary
16743  16744     32.0          Documentary,Short,Family      Documentary

[16744 rows x 4 columns]